<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ConstructionERP_Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SendReportEmp</display-name>
    <servlet-name>SendReportEmp</servlet-name>
    <servlet-class>com.construction.SendReportEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendReportEmp</servlet-name>
    <url-pattern>/SendReportEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendReport</display-name>
    <servlet-name>SendReport</servlet-name>
    <servlet-class>com.construction.SendReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendReport</servlet-name>
    <url-pattern>/SendReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewProjects</display-name>
    <servlet-name>NewProjects</servlet-name>
    <servlet-class>com.construction.NewProjects</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewProjects</servlet-name>
    <url-pattern>/NewProjects</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertTaskEmp</display-name>
    <servlet-name>InsertTaskEmp</servlet-name>
    <servlet-class>com.construction.InsertTaskEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertTaskEmp</servlet-name>
    <url-pattern>/InsertTaskEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertNewTask</display-name>
    <servlet-name>InsertNewTask</servlet-name>
    <servlet-class>com.construction.InsertNewTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertNewTask</servlet-name>
    <url-pattern>/InsertNewTask</url-pattern>
  </servlet-mapping>
</web-app>